*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------- Font ---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}

/*------------------------------------------- HEADER ---------------------------------------------*/

header .logo-header{
    width: 14rem;
    margin-left: 5rem;
}

header nav ul li{
    font-size: 1.5rem;
    
}



/*------------------------------------------- FOOTER ----------------------------------------------*/

footer{
    background-color: #CDEFF5;
}

footer .logo-footer{
    width: 150px;
    height: auto;
}

/*------------------------------------------- CONTACTO -------------------------------------------*/

main .formulario-fondo{
    background-color: #CDEFF5;
    border-radius: 30px;
}

/*------------------------------------------- REQUISITOS -------------------------------------------------*/

main .img-requisitos{
    
    margin-top: 40px;
    width: 850px;
}
main .link{
    text-decoration: none;
    color: black;
}

main .link:hover{
    color: rgb(214, 16, 16);
}


/*--------------------------------------------- RESPONSIVE -------------------------------------------------*/


@media (max-width: 1024px){


/*-------------------------------------------- REQUISITOS --------------------------------------------------*/
main .img-requisitos{
    width: 400px;
}

main .accordion-button h4{
    font-size: 1rem;
}

main .accordion-body{
    font-size: 14px;
}



}